<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="homeContainer">
      <header>
        <h1>Welcome to the Home Page</h1>
      </header>
      <div class="homeContainer-left">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias
          iure aliquam magnam tempora adipisci praesentium reprehenderit
          distinctio nesciunt ea, eaque, expedita cupiditate rem dolorum
          doloribus animi quaerat atque explicabo quidem.
        </p>
        <div class="homeContainer-left-buttons">
          <a href="/leave" class="btn">Write a note</a>
          <a href="/read" class="btn">Check notes</a>
        </div>
      </div>
    </div>
  </body>
</html>
