<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leave a note </title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <h1>Leave a note Page</h1>
    <div class="formContainer">
        <form action="/submit" method="POST" class="formContainer-form">
            <input type="text" name="name" placeholder="Enter your name" class="form-input" />
            <textarea name="body" id="body" rows="10" class="form-input"></textarea>

            <input type="submit" class="btn " value="Submit this note" />
        </form>
    </div>
</body>
</html>